[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "hugo-theme-nostyleplease"]
	path = hugo-theme-nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease
[submodule "typo"]
	path = typo
	url = https://github.com/tomfran/typo
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
